/* ******* Custom Properties ********* */
:root {
  --font: "Manrope", sans-serif;
  /* --max-width: 51.5rem; */
  --max-width-two: 1178px;
  --header-height: 4.5rem;
  --text-color: #313332;
}

/******* Reset *************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 62.5%;
  list-style-type: none;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  /* padding: 0; */
  overflow-x: hidden;
  color: var(--text-color);
  background-color: rgb(252, 252, 252);
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 5rem;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

p {
  max-width: 75ch;
}

/***********Utilities**************/

/* .container__work {
  width: var(--max-width-two);
  margin-left: auto;
  margin-right: auto;
} */
.text-center {
  text-align: center;
}
