/* *****Image0******* */
.image__0 {
  display: block;
  left: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
.image__0 > div > svg {
  width: 35%;
  height: 45%;
}
/* Comenzando a generar mejoras globales: Ej aquí. */

/* En un proyecto siempre ir por las medidas necesarias. */

/* Luego relacionar all Home.jsx con método BEM*/

/* como ahorrarse margin y padding */

/*********Main***********/

.col__description h3 {
  font-size: 1.5rem;
  font-weight: 500;
  /* margin: 1.7rem 2.3rem; */
  letter-spacing: 0.02em;
  padding-bottom: 10vh;
  /* padding: 1.8rem; */
}

.col__description button {
  border: none;
  font-size: 2rem;
  padding: 1.6vh 4.8vh;
  border-radius: 5rem;
  color: #ffffff;
  background-color: #019eff;
  line-height: 27px;
}

.content-all {
  width: 100%;
}

.logo-graphic > div {
  max-height: 1rem;
}
.logo-graphic > div > svg {
  width: 75rem;
  padding-bottom: 23rem;
  overflow-x: hidden;
}
/* -------------------- */
.col__list__items {
  display: flex;
  margin: 5vh 0vh 0vh 7vh;
}
.line__list__item {
  font-size: 2.4rem;
  height: 2.4rem;
  padding: 2.46rem 1.2rem;
}

/* ------------------- */
.main {
  display: grid;
  grid-template-areas: "text illustration";
}

@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 45% 55%);
  }
}

.main__col {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  padding-left: 10rem;
  /* padding-right: 10rem; */
  max-width: max-content;
  grid-area: text;
}

.main__col h1 {
  font-weight: 800;
  line-height: 100%;
  padding: 0vh 0vh 3.5vh;
  letter-spacing: 0.015em;
}

.main__col__rectangles {
  width: 24px;
  position: relative;
  top: 230px;
}

.main__col__info {
  padding: 0vh 0vh 2vh 8vh;
}

.one svg {
  fill: rgba(49, 51, 50, 0.6);
  height: 20px;
  cursor: pointer;
}

.rectangle__two > div > svg {
  position: relative;
  bottom: 16px;
}
.rectangle__three > div > svg {
  position: relative;
  bottom: 32px;
}
/*Ej aquí. */

.two svg {
  fill: rgba(49, 51, 50, 0.6);
  height: 22.5px;
  cursor: pointer;
}
