/*********Main***********/
.col__description h3 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-bottom: 10vh;
}

.col__description button {
  padding: 1.6vh 4.8vh;
  line-height: 27px;

  /* Aquí hablar con equipo */
  /* + font-size de utilitie 16px */
  /* font-w: 800 */
}

.col__list__items {
  display: flex;
  margin: 5vh 0vh 0vh 7vh;
}

.content-all {
  width: 100%;
}

/* *****Image0******* */
.image__0 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.image__0 > div > svg {
  width: 35%;
  height: 45%;
}

.logo__graphic > div {
  max-height: 1rem;
  z-index: 10;
}

.logo__graphic > div > svg {
  width: 75rem;
  overflow-x: hidden;

  position: relative;
  top: -110px;
}

/* -------------------- */
.line__list__item:active {
  color: #ad4184; /*active*/
}
.line__list__item {
  font-size: 2.4rem;
  height: 2.4rem;
  padding: 2.46rem 1.2rem;
}
.line__list__item svg:hover {
  fill: #ff009d;
}
/* ------------------- */

.main {
  display: grid;
  grid-template-areas: "text illustration";
  padding-bottom: 5.5rem;
}

@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 45% 55%);
  }
}

.main__col {
  padding: 1rem 0rem 0rem 10rem;
  grid-area: text;
  height: 100vh;
}

.main__col h1 {
  padding: 0vh 0vh 3.5vh;
}

.main__col__info {
  padding: 10vh 0vh 2vh 8vh;
}
.main__col__info h1 span,
h3 span {
  display: block;
}

.main__col__rectangles {
  width: 24px;
  position: relative;
  top: 220px;
}

/*******Parallax********/
.Parallax__content {
  transition: 0.5s ease-out;
}
/* ------ */
.one svg {
  fill: rgba(49, 51, 50, 0.6);
  height: 20px;
  cursor: pointer;
}

.rectangle__one {
  bottom: 29px;
}

.rectangle__one > div > svg {
  height: 61px;
}

.rectangle__two {
  height: 55px;
}
.rectangle__two > div > svg {
  position: relative;
  height: 61px;
  bottom: 13px;
}

.rectangle__three {
  height: 50px;
}
.rectangle__three > div > svg {
  position: relative;
  height: 60px;
  bottom: 21px;
}

.two svg {
  fill: rgba(49, 51, 50, 0.6);
  height: 22.5px;
  cursor: pointer;
}

@media screen and (min-width: 3645px) and (max-width: 3700px) {
  .main__col {
    height: 84vh;
    padding-top: 30rem;
  }

  .main__col__info {
    padding: 10vh 0vh 2vh 9vh;
  }

  .main__col__rectangles {
    width: 24px;
    position: relative;
    top: 389px;
    left: 9rem;
  }

  .main__col h1 {
    font-size: 12rem;
  }

  .rectangle__one > div > svg {
    width: 30px;
    height: 103px;
  }

  .rectangle__two > div > svg {
    height: 106px;
    width: 29px;
    bottom: 18px;
  }

  .rectangle__three > div > svg {
    height: 158px;
    bottom: 14px;
    width: 28px;
  }

  .col__description h3 {
    font-size: 3.5rem;
  }

  .button__home {
    font-size: 38px;
  }

  .logo__graphic > div > svg {
    width: 175rem;
    top: 128px;
    height: max-content;
  }

  .one svg {
    height: 4.7rem;
    width: 90px;
  }

  .two svg {
    height: 4.7rem;
    width: 90px;
  }
}
