.--img__work {
  padding-right: 3.4rem;
}

.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10rem 0rem 0rem 6rem;

  /* height: 100%; */
}

.work main {
  display: flex;
  flex-direction: column;
  flex-basis: 74%;
}

.work main .work__header {
  display: flex;
  flex-direction: row;
  font-weight: 800;
  align-items: flex-end;
}

.work__header h1 {
  margin-left: 1.5rem;
}

.work__text {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.work__text aside {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 33px;
  white-space: break-spaces;
  padding: 1vh 0vh 1vh 4vh;
}

.work__picture {
  z-index: 31;
}

.work__picture > img {
  width: 85%;
  z-index: 657;
}

/* .button__home--work small {
  font-size: 1.7rem;
  font-weight: 800;
} MOSTRAR A EQUIPO */
